@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-fade {
    @apply bg-gradient-to-b from-gray-600 via-gray-600 bg-clip-text text-transparent dark:from-gray-400 dark:via-gray-400;
  }

  .actionable {
    @apply cursor-pointer bg-slate-900 text-gray-100 transition-opacity hover:opacity-80 disabled:cursor-not-allowed disabled:opacity-25 disabled:hover:opacity-100 dark:bg-green-500;
  }

  .foreground {
    @apply bg-green-50 dark:bg-slate-800;
  }

  .border-style {
    @apply border-gray-400 dark:border-gray-700;
  }
}

/* Google icons */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Defaults */

html {
  @apply scroll-smooth;
}

body {
  @apply m-0 bg-white font-roboto text-gray-900 dark:bg-slate-900 dark:text-gray-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Titles */

h1 {
  @apply mb-4 font-gravitas text-4xl md:text-6xl;
}

h2 {
  @apply mb-4 text-2xl font-bold md:text-4xl;
}

h3 {
  @apply mb-4 text-xl font-bold md:text-2xl;
}

h4 {
  @apply mb-4 text-lg font-bold md:text-xl;
}

h5 {
  @apply mb-4 text-lg font-bold;
}

p {
  @apply mb-4 text-gray-600 dark:text-gray-400;
}

h6 {
  @apply mb-4 text-sm opacity-80;
}

pre {
  @apply border-style mb-4 rounded-xl border bg-[#282b2e] p-4;
}
