@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-timberwolf;
}

code {
  font-family: Roboto, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  @apply pb-4 font-gravitas text-6xl;
}

h4 {
  @apply pb-4 font-roboto text-xl font-bold;
}

a {
  @apply hover:underline;
}
